{% extends 'base.html' %}

{% load static %}

{% block title %}
races
{% endblock %}

{% block races %}
<body>
    <div>
        <h1 class="title">Today's Jumps Racing</h1>
    </div>
    <div class="meetingss">
        <div class="meeting-names">
            <div class="meeting">Newbury</div>
            <div class="meeting">Cheltenham</div>
            <div class="meeting">Down Royal</div>
            <div class="meeting">Southel</div>
        </div>
        <div class="meeting-times">
                <div class="meeting-row">
                    <div class="meeting">12:00</div>
                    <div class="meeting">12:15</div>
                    <div class="meeting">12:30</div>
                    <div class="meeting">12:45</div>
                    <div class="meeting">13:00</div>
                    <div class="meeting">13:15</div>
                </div>
                    <div class="meeting-row">
                    <div class="meeting">12:00</div>
                    <div class="meeting">12:15</div>
                    <div class="meeting">12:30</div>
                    <div class="meeting">12:45</div>
                    <div class="meeting">13:00</div>
                    <div class="meeting">13:15</div>
            </div>
    </div>
    </div>
</body>
{% endblock %}





<div class="container-horse">
{% for course, races in races_by_course.items %}
    <div class="container-information">
        <h1 class="title">Today's Jumps Racing</h1>
        <p class="date">{{ race_date }}</p>

    </div>
    <h2 class="course">{{ course }}</h2>
   {% for race in races %}
                <p class="race-name"><span class="label">Race Name:</span> <span class="value">{{ race.race_name }}</span></p>
                <p class="race-info">
                    <span class="label">Start Time:</span> <span class="value">{{ race.start_time }}</span>
                    <span class="label">Race Distance:</span> <span class="value">{{ race.race_distance }}</span>
                    <span class="label">Region:</span> <span class="value">{{ race.region }}</span>
                    <span class="label">Race Class:</span> <span class="value">{{ race.race_class }}</span>
                    <span class="label">Type:</span> <span class="value">{{ race.type }}</span>
                    <span class="label">Prize:</span> <span class="value">{{ race.prize }}</span>
                    <span class="label">Field Size:</span> <span class="value">{{ race.field_size }}</span>
                    <span class="label">Going:</span> <span class="value">{{ race.going }}</span>
                </p>
                <h4 class="runners">Runners:</h4>
                {% for runner in race.runners %}
                    <div class="runner">
                        <p class="horse-name"><span class="label">Horse:</span> <span class="value">{{ runner.horse }}</span></p>
                        <p class="horse"><span class="label">Trainer:</span> <span class="value">{{ runner.trainer }}</span></p>
                        <p class="horse"><span class="label">Owner:</span> <span class="value">{{ runner.owner }}</span></p>
                        <p class="horse"><span class="label">Jockey:</span> <span class="value">{{ runner.jockey }}</span></p>
                        <p class="horse"><span class="label">Weight:</span> <span class="value">{{ runner.lbs }} lbs</span></p>
                        <p class="horse"><span class="label">Number:</span> <span class="value">{{ runner.number }}</span></p>
                        <p class="horse"><span class="label">Form:</span> <span class="value">{{ runner.form }}</span></p>
                        <p class="horse"><span class="label">Age:</span> <span class="value">{{ runner.age }}</span></p>
                        <p class="horse">**********************************</p>
                    </div>
        {% endfor %}
    {% endfor %}
{% endfor %}
    </div>
