{% extends 'base.html' %}

{% load static %}

{% block title %}
races
{% endblock %}

{% block races %}
<body>
    <div>
        <h1 class="title">Today's Jumps Racing</h1>
    </div>
    <div class="meetingss">
        <div class="meeting-names">
            <div class="meeting">Newbury</div>
            <div class="meeting">Cheltenham</div>
            <div class="meeting">Down Royal</div>
            <div class="meeting">Southel</div>
        </div>
        <div class="meeting-times">
                <div class="meeting-row">
                    <div class="meeting">12:00</div>
                    <div class="meeting">12:15</div>
                    <div class="meeting">12:30</div>
                    <div class="meeting">12:45</div>
                    <div class="meeting">13:00</div>
                    <div class="meeting">13:15</div>
                </div>
                    <div class="meeting-row">
                    <div class="meeting">12:00</div>
                    <div class="meeting">12:15</div>
                    <div class="meeting">12:30</div>
                    <div class="meeting">12:45</div>
                    <div class="meeting">13:00</div>
                    <div class="meeting">13:15</div>
            </div>
    </div>
    </div>
</body>
{% endblock %}
