{% extends 'base.html' %}

{% load static %}

{% block title %}
Day2
{% endblock %}

{% block info %}

        <!-- Content section-->
        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2>Style Wednesday</h2>
                        <p class="lead">The Cheltenham Festival is a horse racing-based meeting in the National Hunt racing calendar in the United Kingdom.</p>
                        <p class="mb-0">Style Wednesday celebrates speed, style and exhilaration. Featuring the Queen Mother Champion chase, it is fast, furious, and requires a perfect blend of speed and an ability to be inch-perfect when negotiating each of the 13 fences at pace around Cheltenham’s legendary old course. The fastest Jump horses jumping at speed with the upmost precision and accuracy. It is simply spinetingling.</p>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}


{% block second_image %}
<div class="py-5 bg-image-full" style="background-image: url('{% static 'myapp2/images/chelt4.jpg' %}'); height: 400px; background-size: cover; background-position: center -450px;">
    <div style="height: 20rem"></div>
    </div>

{% endblock %}

{% block races_grid %}
<<div class="container py-5"> <!-- Reduced padding in container -->
    <h2 class="text-center">Day 2 Races</h2> <!-- Reduced margin below heading -->
    <div class="table-responsive mx-auto" style="max-width: 800px;"> <!-- Removed py-5 from here -->
    <table class="table table-bordered mb-5">

<thead>
    <tr>
        <th>Time</th>
        <th>Race</th>
        <th>Runners</th>
        <th>Prize Money</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>1:30 PM</td>
        <td>Ballymore Novices' Hurdle</td>
        <td>8</td>
        <td>£132,800 (2023)</td>
    </tr>
    <tr>
        <td>2:10 PM</td>
        <td>Brown Advisory Novices’ Chase</td>
        <td>7</td>
        <td>£178,480 (2023)</td>
    </tr>
    <tr>
        <td>2:50 PM</td>
        <td>Coral Cup Hurdle</td>
        <td>14</td>
        <td>£98,370 (2023)</td>
    </tr>
    <tr>
        <td>3:30 PM</td>
        <td>Queen Mother Champion Chase</td>
        <td>6</td>
        <td>£392,120 (2023)</td>
    </tr>
    <tr>
        <td>4:10 PM</td>
        <td>Glenfarclas Cross Country Chase</td>
        <td>10</td>
        <td>£65,000 (2023)</td>
    </tr>
    <tr>
        <td>4:50 PM</td>
        <td>Johnny Henderson Grand Annual Chase</td>
        <td>14</td>
        <td>£110,000 (2023)</td>
    </tr>
    <tr>
        <td>5:30 PM</td>
        <td>Weatherbys Champion Bumper</td>
        <td>15</td>
        <td>£75,000 (2023)</td>
    </tr>
    <!-- Add more rows as needed -->
</tbody>
            </table>
        </div>
    </div>

{% endblock %}

{% block day1_page %}
<div class="video-container">
    <video class="video1" width="40%" height="40%" controls>
        <source src="{% static 'myapp2/videos/day2_video.mp4' %}" type="video/mp4">
    </video>
</div>

{% endblock %}