{% extends 'base.html' %}

{% load static %}

{% block title %}
Day3
{% endblock %}

{% block info %}

        <!-- Content section-->
        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2>St Patricks Thursday</h2>
                        <p class="lead">The Cheltenham Festival is a horse racing-based meeting in the National Hunt racing calendar in the United Kingdom.</p>
                        <p class="mb-0">The meeting features several Grade I races including the Cheltenham Gold Cup, Champion Hurdle, Queen Mother Champion Chase
        and Stayers' Hurdle. Cheltenham is noted for its atmosphere, including the "Cheltenham roar", which refers to the enormous amount of noise that
        the crowd generates as the starter raises the tape for the first race of the festival.</p>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}

{% block second_image %}
<div class="py-5 bg-image-full" style="background-image: url('{% static 'myapp2/images/day_pic.jpg' %}');">
    <div style="height: 20rem"></div>
    </div>

{% endblock %}


{% block races_grid %}
<<div class="container py-5"> <!-- Reduced padding in container -->
    <h2 class="text-center">Day 1 Races</h2> <!-- Reduced margin below heading -->
    <div class="table-responsive mx-auto" style="max-width: 800px;"> <!-- Removed py-5 from here -->
    <table class="table table-bordered mb-5">

                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Race</th>
                        <th>Runners</th>
                        <th>Prize Money</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>12:30 PM</td>
                        <td>Supreme novices hurdle</td>
                        <td>13</td>
                        <td>$75,000</td>
                    </tr>
                    <tr> <!-- Start a new row for each set of data -->
                        <td>1:00 PM</td>
                        <td>The Arke</td>
                        <td>5</td>
                        <td>$85,000</td>
                    </tr>
                    <tr>
                        <td>1:30 PM</td>
                        <td>Handicap Chase</td>
                        <td>16</td>
                        <td>$60,000</td>
                    </tr>
                    <tr>
                        <td>2:00 PM</td>
                        <td>The Champion Hurdle</td>
                        <td>8</td>
                        <td>$120,000</td>
                    </tr>
                    <tr>
                        <td>2:30 PM</td>
                        <td>The Mares Hurdle</td>
                        <td>12</td>
                        <td>$55,000</td>
                    </tr>
                    <tr>
                        <td>3:00 PM</td>
                        <td>The National Hunt Chase</td>
                        <td>8</td>
                        <td>$60,000</td>
                    </tr>
                    <!-- Add more rows as needed -->
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}

{% block day1_page %}
<div class="video-container">
    <video class="video1" width="40%" height="40%" controls>
        <source src="{% static 'myapp2/videos/day3_video.mp4' %}" type="video/mp4">
    </video>
</div>

{% endblock %}