{% extends 'base.html' %}

{% load static %}

{% block title %}
Day3
{% endblock %}

{% block info %}

        <!-- Content section-->
        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2>St Patricks Thursday</h2>
                        <p class="lead">The Cheltenham Festival is a horse racing-based meeting in the National Hunt racing calendar in the United Kingdom.</p>
                        <p class="mb-0">Where Irish passion for the sport and the Cheltenham Festival raises the rafters and the craic is mighty. The Cheltenham Festival is a second home to the Irish and St Patrick’s Thursday reflects this both on and off the track. Featuring The Ryanair Chase and Paddy Power Stayer’s Hurdle, where endurance and stamina reign. It’s the tough versus the tough and provides the most thrilling battles.</p>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}

{% block second_image %}
<div class="py-5 bg-image-full" style="background-image: url('{% static 'myapp2/images/day_pic.jpg' %}');">
    <div style="height: 20rem"></div>
    </div>

{% endblock %}


{% block races_grid %}
<<div class="container py-5"> <!-- Reduced padding in container -->
    <h2 class="text-center">Day 3 Races</h2> <!-- Reduced margin below heading -->
    <div class="table-responsive mx-auto" style="max-width: 800px;"> <!-- Removed py-5 from here -->
    <table class="table table-bordered mb-5">

               <thead>
    <tr>
        <th>Time</th>
        <th>Race</th>
        <th>Runners</th>
        <th>Prize Money</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>1:30 PM</td>
        <td>Turners Novices’ Chase (Grade 1)</td>
        <td>9</td>
        <td>£110K (2023)</td>
    </tr>
    <tr>
        <td>2:10 PM</td>
        <td>Pertemps Network Final (A Handicap Hurdle Race) (Listed)</td>
        <td>13</td>
        <td>£90K (2023)</td>
    </tr>
    <tr>
        <td>2:50 PM</td>
        <td>Ryanair Steeple Chase (Grade 1)</td>
        <td>8</td>
        <td>£210K (2023)</td>
    </tr>
    <tr>
        <td>3:30 PM</td>
        <td>Paddy Power Stayers’ Hurdle (Grade 1)</td>
        <td>11</td>
        <td>£190K (2023)</td>
    </tr>
    <tr>
        <td>4:10 PM</td>
        <td>Magners Plate (A Handicap Steeple Chase) (Premier Handicap) (Grade 3)</td>
        <td>14</td>
        <td>£110K (2023)</td>
    </tr>
    <tr>
        <td>4:50 PM</td>
        <td>Jack de Bromhead Mares Novices’ Hurdle (Grade 2)</td>
        <td>14</td>
        <td>£90K (2023)</td>
    </tr>
    <tr>
        <td>5:30 PM</td>
        <td>Fulke Walwyn Kim Muir Challenge Cup (Amateur Riders Only)</td>
        <td>13</td>
        <td>£70K (2023)</td>
    </tr>
    <!-- Add more rows as needed -->
</tbody>

            </table>
        </div>
    </div>

{% endblock %}

{% block day1_page %}
<div class="video-container">
    <video class="video1" width="40%" height="40%" controls>
        <source src="{% static 'myapp2/videos/day3_video.mp4' %}" type="video/mp4">
    </video>
</div>

{% endblock %}