{% extends 'base.html' %}

{% load static %}

{% block title %}
Home
{% endblock %}

{% block content %}
      <!-- Content section-->
        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2>The Cheltenham Festival</h2>
                        <p class="lead">The Cheltenham Festival is a horse racing-based meeting in the National Hunt racing calendar in the United Kingdom.</p>
                        <p class="mb-0">The meeting features several Grade I races including the Cheltenham Gold Cup, Champion Hurdle, Queen Mother Champion Chase
        and Stayers' Hurdle. Cheltenham is noted for its atmosphere, including the "Cheltenham roar", which refers to the enormous amount of noise that
        the crowd generates as the starter raises the tape for the first race of the festival.</p>
                    </div>
                </div>
            </div>
        </section>
</div>
{% endblock %}
{% block second_image %}
<div class="py-5 bg-image-full" style="background-image: url('{% static 'myapp2/images/chelt4.jpg' %}'); height: 400px; background-size: cover; background-position: center -450px;">
    <div style="height: 20rem"></div>
    </div>

{% endblock %}
{% block home_page %}

<!--            &lt;!&ndash; Put anything you want here! The spacer below with inline CSS is just for demo purposes!&ndash;&gt;        <div class="py-5 bg-image-full" style="background-image: url('{% static 'myapp/images/chelt4.jpg' %}'); height: 400px; background-size: cover; background-position: center -450px;">-->
        <!-- Content section-->
        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2>The Gold Cup</h2>
                        <p class="lead">The Cheltenham Gold Cup is the one they all long to win</p>
                        <p class="mb-0">The Gold cup has ruled the highest echelons of jump racing since 1924. The most iconic trophy in horse racing, arguably, sport. This is the one they all long to win. For many, it’s a lifetime obsession - to win ‘The Cup’, to claim the title, to be crowned champion chaser of the year. The Gold Cup is the one. The only one.</p>
                    </div>
                </div>
            </div>
        </section>
    </header>
</body>
{% endblock %}