{% extends 'base.html' %}

{% load static %}

{% block title %}
Home
{% endblock %}

{% block content %}

{% endblock %}

{% block home_page %}

<!--            &lt;!&ndash; Put anything you want here! The spacer below with inline CSS is just for demo purposes!&ndash;&gt;        <div class="py-5 bg-image-full" style="background-image: url('{% static 'myapp/images/chelt4.jpg' %}'); height: 400px; background-size: cover; background-position: center -450px;">-->
        <!-- Content section-->
        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2>The Gold Cup</h2>
                        <p class="lead">The Cheltenham Gold Cup is the one they all long to win</p>
                        <p class="mb-0">The Gold cup has ruled the highest echelons of jump racing since 1924. The most iconic trophy in horse racing, arguably, sport. This is the one they all long to win. For many, it’s a lifetime obsession - to win ‘The Cup’, to claim the title, to be crowned champion chaser of the year. The Gold Cup is the one. The only one.</p>
                    </div>
                </div>
            </div>
        </section>
    </header>
</body>
{% endblock %}