{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <link href="{% static 'myapp2/css/styles.css' %}" rel="stylesheet" />
</head>


<body>
    <div class="containerpop">
        <div class="first">
        <div class="boxpop item-1">Top Left</div>
        <div class="boxpop item-2">Top Right</div>
            </div>
        <div class="second">
        <div class="boxpop item-3">Bottom Left</div>
        <div class="boxpop item-4">Bottom Right</div>
        </div>

</div>
</body>
</html>
