{% extends 'base.html' %}

{% load static %}

{% block title %}
races
{% endblock %}

{% block races %}

<script>
function fetchRaceDetails(location) {
    fetch(`/get-race-details?location=${location}`)
        .then(response => response.json())
        .then(data => {
            // Update the #race-details div with the fetched data
            document.getElementById('race-details').innerHTML = formatRaceDetails(data);
        });
}

function formatRaceDetails(data) {
    // Format the race details into HTML
    // This is where you define how you want to display the race details
    return '<div>' + JSON.stringify(data) + '</div>'; // Example formatting
}
</script>

<!--<div id="race-details"></div>-->

<!-- races.html -->
<!--<div class="race-list">-->
<!--    {% for course in courses %}-->
<!--        <div class="race-location" data-location="{{ course }}" onclick="fetchRaceDetails('{{ course }}')">-->
<!--            {{ course }}-->
<!--        </div>-->
<!--    {% endfor %}-->
<!--</div>-->
<h1 class="title">Today's Jumps Racing</h1>
<h2 class="date">{{ race_date }}</h2>
<div class="container-horse">
    {% for course, races in races_by_course.items %}
        <div class="course-row">
            <h2 class="course">{{ course }}</h2>
            <div class="race-times">
                {% for race in races %}
                    <span class="time">{{ race.start_time }}</span>
                {% endfor %}
            </div>
        </div>
    {% endfor %}  <!-- Close the for loop -->
</div>
{% endblock %}  <!-- Close the block -->
