{% extends 'base.html' %}

{% load static %}

{% block title %}
races
{% endblock %}

{% block races %}

<script>
function fetchRaceDetails(location) {
    fetch(`/get-race-details?location=${location}`)
        .then(response => response.json())
        .then(data => {
            // Update the #race-details div with the fetched data
            document.getElementById('race-details').innerHTML = formatRaceDetails(data);
        });
}

function formatRaceDetails(data) {
    // Format the race details into HTML
    // This is where you define how you want to display the race details
    return '<div>' + JSON.stringify(data) + '</div>'; // Example formatting
}
</script>

<script>
function toggleRaceDetails(element, raceId) {
    // Get the placeholder element
    var placeholder = document.getElementById('dropdown-placeholder-' + raceId);

    // Check if the race details are already displayed
    if (placeholder.innerHTML.trim() !== '') {
        // If displayed, hide them
        placeholder.innerHTML = '';
    } else {
        // If not displayed, show the race details
        placeholder.innerHTML = '<div class="race-details">Race details content here for ' + raceId + '</div>';
    }
}


</script>

<h1 class="title">Today's Jumps Racing</h1>
<h2 class="date">{{ race_date }}</h2>
<div class="container-horse">
    {% for course, races in races_by_course.items %}
        <div class="course-row">
            <h2 class="course">{{ course }}</h2>
            <div class="race-times">
                {% for race in races %}
                    <div class="race-time-container">
                        <span class="time" onclick="toggleRaceDetails(this, '{{ race.race_id }}')">{{ race.start_time }}</span>
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- Placeholder for dropdown -->
        <div id="dropdown-placeholder-{{ course }}"></div>
    {% endfor %}
</div>
{% endblock %}

