<!DOCTYPE html>
<html>
<head>

        {% load static %}

        <link href="{% static 'myapp2/styles.css' %}" rel="stylesheet" />
    <!-- Other head elements like meta tags, custom CSS, etc. -->
</head>
{% load static %}

{% block title %}
<div class="test">
    <h1>The Cheltenham Greats</h1>
</div>

<div class="container1">
    <img class="images1" src="{% static 'myapp2/images/faugheen3.jfif' %}" alt="Cheltenham">
    <div class="one">
        <h2 class="f">Faugheen</h2>
        <p>Faugheen (foaled 2 May 2008) is an Irish Thoroughbred racehorse best known for winning the 2015 Champion Hurdle and back-to-back Christmas Hurdles in 2014 and 2015. His best performance on a racecourse came in the 2016 Irish Champion Hurdle for which he was rated the best two-mile hurdler of the 21st century. His career started over Point-to-point fences as a four-year-old and was sent racing under National Hunt rules in the 2013/2014 season where he emerged as a leading Novice hurdler, winning all of his races including the Dorans Pride Novice Hurdle, Cheltenham Novices Hurdle and Herald Champion Novice Hurdle acquiring the nickname "The Machine" in the process.</p>
    </div>
    <img class="images1" src="{% static 'myapp2/images/faugheen4.jfif' %}" alt="Cheltenham">
</div>

<div class="container2">
    <img class="images1" src="{% static 'myapp2/images/Quevega1.jfif' %}" alt="Cheltenham">
    <div class="one">
        <h2 class="f">Quevega</h2>
        <p>Faugheen (foaled 2 May 2008) is an Irish Thoroughbred racehorse best known for winning the 2015 Champion Hurdle and back-to-back Christmas Hurdles in 2014 and 2015. His best performance on a racecourse came in the 2016 Irish Champion Hurdle for which he was rated the best two-mile hurdler of the 21st century. His career started over Point-to-point fences as a four-year-old and was sent racing under National Hunt rules in the 2013/2014 season where he emerged as a leading Novice hurdler, winning all of his races including the Dorans Pride Novice Hurdle, Cheltenham Novices Hurdle and Herald Champion Novice Hurdle acquiring the nickname "The Machine" in the process.</p>
    </div>
    <img class="images1" src="{% static 'myapp2/images/Quevega2.jfif' %}" alt="Cheltenham">
</div>

<div class="container2">
    <img class="images1" src="{% static 'myapp2/images/annie2.jfif' %}" alt="Cheltenham">
    <div class="one">
        <h2 class="f">Annie Power</h2>
        <p>Faugheen (foaled 2 May 2008) is an Irish Thoroughbred racehorse best known for winning the 2015 Champion Hurdle and back-to-back Christmas Hurdles in 2014 and 2015. His best performance on a racecourse came in the 2016 Irish Champion Hurdle for which he was rated the best two-mile hurdler of the 21st century. His career started over Point-to-point fences as a four-year-old and was sent racing under National Hunt rules in the 2013/2014 season where he emerged as a leading Novice hurdler, winning all of his races including the Dorans Pride Novice Hurdle, Cheltenham Novices Hurdle and Herald Champion Novice Hurdle acquiring the nickname "The Machine" in the process.</p>
    </div>
    <img class="images1" src="{% static 'myapp2/images/annie1.jfif' %}" alt="Cheltenham">
</div>

<div class="container2">
    <img class="images1" src="{% static 'myapp2/images/sdb.jfif' %}" alt="Cheltenham">
    <div class="one">
        <h2 class="f">Sire Du Burlaise</h2>
        <p>Faugheen (foaled 2 May 2008) is an Irish Thoroughbred racehorse best known for winning the 2015 Champion Hurdle and back-to-back Christmas Hurdles in 2014 and 2015. His best performance on a racecourse came in the 2016 Irish Champion Hurdle for which he was rated the best two-mile hurdler of the 21st century. His career started over Point-to-point fences as a four-year-old and was sent racing under National Hunt rules in the 2013/2014 season where he emerged as a leading Novice hurdler, winning all of his races including the Dorans Pride Novice Hurdle, Cheltenham Novices Hurdle and Herald Champion Novice Hurdle acquiring the nickname "The Machine" in the process.</p>
    </div>
    <img class="images1" src="{% static 'myapp2/images/sdb2.jfif' %}" alt="Cheltenham">
</div>

<div class="container2">
    <img class="images1" src="{% static 'myapp2/images/vautour1.jfif' %}" alt="Cheltenham">
    <div class="one">
        <h2 class="f">Vautour</h2>
        <p>Faugheen (foaled 2 May 2008) is an Irish Thoroughbred racehorse best known for winning the 2015 Champion Hurdle and back-to-back Christmas Hurdles in 2014 and 2015. His best performance on a racecourse came in the 2016 Irish Champion Hurdle for which he was rated the best two-mile hurdler of the 21st century. His career started over Point-to-point fences as a four-year-old and was sent racing under National Hunt rules in the 2013/2014 season where he emerged as a leading Novice hurdler, winning all of his races including the Dorans Pride Novice Hurdle, Cheltenham Novices Hurdle and Herald Champion Novice Hurdle acquiring the nickname "The Machine" in the process.</p>
    </div>
    <img class="images1" src="{% static 'myapp2/images/vautour2.jfif' %}" alt="Cheltenham">
</div>

{% endblock %}


